page-home {
    .back{
        background-image: url('../../assets/imgs/A5.jpg');
        background-size:cover;
        border-radius: 9px;
        
       
    }
    .car{
    height: 350px;
  
    p{
        font-size: 20pt;
    }
   

    
}
h1{
    margin-top: 70%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40pt;
    
}

}